body{
    font-family: "Inter-Regular.woff";
    margin: 0;
    padding: 0;
    width: 100%;
    width: 1512px;
    height: 982px;
    top: -492px;
    left: -756px;
    background: rgba(255, 255, 255, 1);
}

.header {
    position: fixed;
    width: 1512px;
    /* height: 59px; */
    display:flex; 
    background-color: #32325D;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 15px 79px 15px 79px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    z-index: 9999;
}

.header img {
    position: relative;
    margin-left: 79px;
    width: 28px;
    height: 28px;
}

h1 {
    position: relative;
    text-transform: uppercase;
    width: 66px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}