body{
    font-family: "Inter-Regular.woff";
    margin: 0;
    padding: 0;
    width: 100%;
    width: 1512px;
    height: 982px;
    top: -492px;
    left: -756px;
    background: rgba(255, 255, 255, 1);
}

.header {
    position: fixed;
    width: 1512px;
    /* height: 59px; */
    display:flex; 
    background-color: #32325D;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 15px 79px 15px 79px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    z-index: 9999;
}

.header img {
    position: relative;
    left: 79px;
    width: 28px;
    height: 28px;
}

h1 {
    position: relative;
    left: 80px;
    text-transform: uppercase;
    width: 66px;
    height: 29px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

.body_title {
    position: absolute;
    width: 221px;
    height: 20px; 
    top: 167px; 
    left: 79px; 
    font-size: 36px; 
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: 0.1em; 
    color: rgba(58, 79, 154, 1);
  }

  .card_post {
    display: flex;
    grid-template-columns: 25px 25px 25px;
    width: 409px;
    height: 455px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a {
    position: absolute;
    width: 70px;
    height: 20px;
    top: 422px;
    left: 321px;

    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgba(58, 79, 154, 1);
}

.post_title {
    position: absolute;
    width: 122px;
    height: 20px;
    top: 293px;
    left: 29px;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(58, 79, 154, 1);
}

.text_post {
    position: absolute;
    width: 359px;
    height: 109px;
    top: 328px;
    left: 29px;

    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;   
}

.card_img {
    width: 409px;
    height: 273px;
}

.card_one {
    position: absolute;
    top: 260px;
    left: 79px;
}

.card_two{
    position: absolute;
    top: 260px;
    left:551px;
}

.card_three{
    position: absolute;
    top: 260px;
    left:1023px;
}

.card_four{
    position: absolute;
    top: 773px;
    left:84px;
}

.card_five{
    position: absolute;
    top: 773px;
    left:551px;
}

.card_six{
    position: absolute;
    top: 773px;
    left:1027px;
}

/* Post section starts here */

.main_post_section {
    position:static;
    width: 1512px;
    height: 982px;
    top: -469px;
    left: 984px;
    background-color: rgba(255, 255, 255, 1);
}

.button {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 82px;
    left: 34px;
    border: 0.3px;
    background-color: linear-gradient(0deg, #32325D, #32325D),
}



.arrow_image {
    width: 49px;
    height: 49px;
    top: 95px;
    left: 47px;
}

.post_section {
    position:absolute;
    width: 771px;
    height: 519px;
    border-radius: 8px;
    top: 79px;
    left: 341px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.post_title_section {
    position:absolute;
    width: 122px;
    height: 20px;
    top: 334.21319580078125px;
    left: 54.66748046875px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    font-family: inter;
}

.img_post_section {
    position: absolute;
    width: 771px;
    height: 311.4px;

}

.text_section {
    position: absolute;
    width: 676.75px;
    height: 124.33px;
    top: 374.14px;
    left: 54.67px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(87, 87, 87, 1);

}

.review_section {
    position: relative;
    width: 762px;
    height: 321px;
    top: 661px;
    left: 342px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    font-family: Inter;
    
}

.review_1 {
    position: absolute;
    width: 652px;
    height: 60px;
    top: 37px;
    left: 54px; 
}

.review_2 {
    position: absolute;
    width: 652px;
    height: 60px;
    top: 124px;
    left: 54px;
}

.review_3 {
    position: absolute;
    width: 652px;
    height: 60px;
    top: 226px;
    left: 54px;

}

em {
    color: blue;
    font-weight: 600;
    font-style: normal;
}