body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.header {
    position: fixed;
    width: 100%;
    height: 59px;
    display:flex; 
    background-color: #32325D;
    align-items: center;
    gap: 8px;
    padding-inline: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
    z-index: 9999;
}

.header img {
    position: relative;
    left: 79px;
    width: 28px;
    height: 28px;
}

h1 {
    position: relative;
    left: 80px;
    text-transform: uppercase;
    width: 66px;
    height: 29px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

main {
    padding-top: 59px;

}

.body_title {
    position: relative;
    width: 221px;
    font-size: 36px; 
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: 0.1em; 
    color: rgba(58, 79, 154, 1);
    margin-top: 108px;
    margin-left: 79px;
    margin-bottom: 73px;
  }

.body_title::after {
   position: absolute;
   content: "";
   width: 195px;
   height: 3px;
   top: 200%;
   left: 0;
   background-color: rgba(58, 79, 154, 1);
   transform: translateY(1px)
}

.card {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 405px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.card div {
    padding: 20px 30px;
}

.card_post {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 1);
    gap: 58px;
    padding-inline: 80px;
}

.post_elements {
    display: flex;
    flex-direction: column;
}

.expend {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgba(58, 79, 154, 1);
    margin-left: auto;
}

.post_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(58, 79, 154, 1);
}

.text_post {
   
    width: 100%;
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;   
}

.card_img {
    width: 100%;
    height: 273px;
}


/* Post section starts here */

.main_post_section {
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 63px;
}

.button {
   
    width: 75px;
    height: 75px;
    border: 0.3px;
    background-color: linear-gradient(0deg, #32325D, #32325D),
}



.arrow_image {
    width: 49px;
    height: 49px;
}

.post_section {
    width: 771px;
    height: 519px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.post_title_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgba(58, 79, 154, 1);
}

.img_post_section {
    width: 771px;
    height: 311.4px;
}

.text_section {
    padding: 60px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(87, 87, 87, 1);
}

.review_section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 771px;
    height: 321px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding-inline: 55px;
}

.review_1 {
}

.review_2 {
}

.review_3 {

}

em {
    color: blue;
    font-weight: 600;
    font-style: normal;
}

hr{
    border: 0.1px solid rgba(87, 87, 87, 1);
    width: 100%;
    margin-top: 14px;
    margin-top: 14px;
}